 *{
            font-size: 14px;
            margin: 0px;
        }
        .btn{
            width: 90px;
            height: 30px;
        }  
        label{
            font-weight: 1px; 
            padding: 0px;
            margin: 0px;
        }
        .card-header{
            font-size: 15px;
            padding: 0px;
            margin: 0px;
        }
        .table{
            color: black;
        }
        .table thead tr th {
            text-align: center;
            font-weight: bold;
            line-height: 1.2;
        }
        .table tbody tr td {
            text-align: left;
            padding: 0px 5px 0px 5px ;
            width: 5%;
            line-height: 1.2;
        }
        .table tfoot tr td {
            text-align: left;
            padding: 0px 5px 0px 5px;
            width: 5%;
            line-height: 1.2;
        }
        .table tbody tr td a{
            color: #4680ff;
        }
        .table tbody tr .index{
            width: 1%; 
            vertical-align: middle;
            text-align: center;
            color: #4680ff;
        }
        .container-fluid{
            margin: 0px;
            padding: 0px;
        }
        .card-body{
            padding: 0px;
            margin: 0px;
        }
        .page-titles{
            line-height: 0.5;
            padding: 0px;
            margin: 0px;
            font-size: 15px;    
        }
        .card{
            margin: 1px 5px 1px 5px;
            padding: 10px 20px 10px 20px;
        }
        .card-header{
            margin: 0px;
            padding: 0px;
        }
        .form-group{
            padding: 0px; 
            margin: 0px;
        }
        .form-control,select:not([size]):not([multiple]).form-control
        {
            margin: 0px;
            padding: 0px;
            height: 30px;
        }
        .row{
            margin: 0px;
            padding: 0px;
        }
        .form-control:focus,.radio:focus{
            outline: none !important;
            border-color: #1E90FF;
        }
        table.dataTable, table.dataTable.no-footer{
            margin: 5px 0;
        }
        .dataTables_wrapper{
            padding: 0;
        }
        input[type=checkbox] {
             transform: scale(1.5);
        }
